.container{
    display: flex;
    justify-content: center;
}
.center {
    text-align: center;
    border: 3px solid antiquewhite;
  }
  .row
  {
    display: flex;
    height: 88%;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    #title
    {
        transition: 0.3s;
    }
    #title:hover
    {
        scale: 1.3;
    }
  }
  .col{
    flex-basis: 50%;
  }
b{
    color: #fff;
    font-size: 30px;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 5px;
}
img{
  border-radius: 10%;
  border:1px antiquewhite;
  border-style: inset;

}

